<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=d, initial-scale=1.0">
    <link rel="stylesheet" href="checkouts.css">
    <title>Document</title>
</head>
<body>
    <div class="checkout-container">
        <div class="line-container">
            <p class="line">&nbsp;- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p> </br>
            <p class="line">&nbsp;- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
        </div>
        <div class="middle-receipt-container">
            <ul> 
                <li class="name">
                    <p class="category">Name</p>
                    <p>Choce</p>
                </li>
                <li class="qty">
                    <p class="category">Qty</p>
                    <p>1</p>
                </li>
                <li class="price">
                    <p class="category">Price</p>
                    <p>₱200</p>
                </li>
            </ul>
        </div>
        <div class="line-container">
            <p class="line">&nbsp;- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p> </br>
            <p class="line">&nbsp;- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
        </div>
        <div class="lower-receipt-container">
            <div class="sub-total-container">
            
                <p class="sub">Sub Total</p>
                <p class="amount">₱200</p>
            </div>
            <div class="cash-amount-container">
            
                <p>CASH</p>
                <p>₱200</p>
                
            </div>
            <div class="change-container">
                <p>CHANGE</p>
                <P>₱0</P>
            </div>
            
            
        </div>

        <div class="line-container">
            <p class="line">&nbsp;- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p> </br>
            <p class="line">&nbsp;- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
        </div>
    </div>


    <div class="cash-amount-input">
        <p class="title">Cash Amount</p>
        <input type="number" placeholder="Enter your cash amount"/>
        <div class="buttons-container">
            <button class="proceed">PROCEED</button>
            <button class="cancel">CANCEL</button>
        </div>
    </div>
</body>
</html>